@charset "utf-8";

#calendar{
    width: 100%;
	z-index: 100;
	margin-top: 27px;
}
/* =====================================================
 * === 켈린더 헤더 ========================================
 * ===================================================== */
.calendarHeader{
    width: 100%;
    height: 60px;
    z-index: 200;
    min-width : 860px;
}
.calendarHeadMenu{
	width: 40px;
  	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	display:block;
	background-image: url(./imgSource/CalendarMenuIcon.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
}
.calendarHeadNow{
    width: 40px;
  	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	display:block;
	background-image: url(./imgSource/ClaendarTodayMenu.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
}
.calendarHeadPre{
   width: 40px;
  	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	display:block;
	background-image: url(./imgSource/CalendarPrevious.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
}
.calendarHeadNext{
    width: 40px;
  	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: block;
	background-image: url(./imgSource/CalendarNext.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
}
.calendarHeadDate{
    width: 400px;
  	height: 40px;
  	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 50px;
    display: block;
    float: left;
    font-size: 1.8em;
    letter-spacing: -1.5px;
    line-height: 40px;
    font-weight: 600;
}
.calendarHeadSearch{
  	width: 40px;
  	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 16px;
	display:block;
	background-image: url(./imgSource/CalendarSearch.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: right;
}
.calendarHeadSelect{
    width: 59px;
  	height: 40px;
  	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
  	border: 0;
  	display:block;
  	float: right;
}
.selectForm{
	width: 57px;
	height: 38px;
	border: 1px solid lightgray;
	border-radius: 3px;
	font-size: 0.9em;
}
.calendarSearch{
	display:none;
}

.calendarHeader::after{
	content: "";
	display: block;
	clear:both;
}
.calendarHeadBar::after{
	content: "";
	display: none;
	clear: both;
}
/* =====================================================
 * === 켈린더 서치 ========================================
 * ===================================================== */
 
.calendarSearchBarLeft{
	width: calc(100% - 200px);
	display:block;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.calendarSearchBarRight{
	min-width: 200px;
	display:block;
	float: right;
}
.calendarSearchBar{
	margin-top: 3px;
	margin-bottom: 3px;
	height: 32px; 
	width: 80%;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid lightgray;
	border-radius: 16px;
	float: left;
	margin-left: 4%;
	float: right;
	line-height: 32px;
}
.calendarSearchBtn{
	width: 32px;
	height: 32px;
	border: 1px solid lightgray;
	border-radius: 18px;
	margin-top: 13px;
	margin-bottom: 13px;
	margin-left: 8px;
	margin-right: 8px;
	display:block;
	background-image: url(./imgSource/SearchIcon.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	float: left;
}
.calendarXBtn{
	width: 32px;
	height: 32px;
	border: 1px solid lightgray;
	border-radius: 18px;
	margin-top: 13px;
	margin-bottom: 13px;
	margin-right: 44px;
	display:block;
	text-align: center;
	line-height: 32px;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	font-size: 0.9em;
}
.calendarSearchResult{
	position: absolute;
	z-index: 600;
	display: block;
	width: calc(100% - 200px);
	margin-top: 36px;
}
.scheduleSearchLists{
	height: 32px; 
	width: 80%;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid lightgray;
	border-radius: 16px;
	float: left;
	margin-left: 4%;
	float: right;
	line-height: 32px;
	background-color: white;
}
.calendarXBtn:hover{
	animation-duration: 0.3s;
	animation-name: chooseHeadSearchBtn;
	animation-fill-mode: forwards;
}
.calendarSearchBtn:hover{
	animation-duration: 0.3s;
	animation-name: chooseHeadSearchBtn;
	animation-fill-mode: forwards;
}
@keyframes chooseHeadSearchBtn{
	from{
		
	}
	to{
		background-size: 25px 25px;
		font-size: 1.1em;
		background-color: lightgray;
	}
}
/* =====================================================
 * === 켈린더 보디 ========================================
 * ===================================================== */
.calendarBody{
	padding-top: 20px;
    width: 100%;
    display: flex;
    height: auto;
    font-size: 0.8em;
    font-weight: 500;
    min-width : 860px;
}
.centerBox{
    flex: 8;
    height: 100%;
    margin-right: 15px;
    min-width: 850px;
    min-height: 720px;
}
.leftBox{
	flex: 3;
    height: 100%;
    margin-right: 15px;
    min-width: 200px;
    min-height: 720px;
}

/* =====================================================
 * === 투두리스트 =========================================
 * ===================================================== */

.toDoListDiv{
    height: 50%;
    padding-left: 10px;
    min-width: 200px;
    min-height: 360px;
}
.toDoListTitle{
	font-size: 1.2em;
	padding-top: 10px;
	
	letter-spacing: -0.6px;
}
.toDoListAdd{
	width: 25px;
  	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(./imgSource/TodolistPlus.png);
	background-repeat: no-repeat;
	background-size: contain;
	display:block;
	float: left;
}
.toDoListCom{
	width: 25px;
  	height: 25px;
	margin-top: 14px;
	margin-bottom: 6px;
	margin-right: 10px;
	background-image: url(./imgSource/TodolistTrash.png);
	background-repeat: no-repeat;
	background-size: contain;
	display:block;
	float: right;;
}
.toDoListTitle:after{
	content: "";
	display: block;
	clear:both;
}
/* =====================================================
 * === 그룹리스트 =========================================
 * ===================================================== */

.groupDiv{
    height: 50%;
    padding-left: 10px;
    min-width: 200px;
    min-height: 360px;
}
.groupTitle{
	font-size: 1.2em;
	padding-top: 10px;
	letter-spacing: -0.6px;
}
.groupAdd{
	width: 25px;
  	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(./imgSource/TodolistPlus.png);
	background-repeat: no-repeat;
	background-size: contain;
	display:block;
}
.groupDataName{
	width: calc(100% - 10px);
	min-height: 25px;
	display: block;
	border: 0;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: rgb(245,245,245);
	margin-bottom: 10px;
	margin-top: 10px;
}

.groupDataColor{
	min-width: calc(50% - 5px);
	min-height: 32px;
	line-height: 32px;
	margin-right: 5px;
	margin-bottom: 10px;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
}

.groupDataSearchable{
	min-width: calc(50% - 5px);
	min-height: 32px;
	line-height: 32px;
	margin-bottom: 10px;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
}
.groupDataSearchable::after{
	content: "";
	display: block;
	clear:both;
}


.groupDataMembers{
	width: calc(100% - 10px);
	min-height: 25px;
	display: block;
	border: 0;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: rgb(245,245,245);
	margin-bottom: 10px;
	margin-top: 10px;
}

.groupDataAdd{
	min-width: calc(50% - 5px);
	min-height: 32px;
	line-height: 32px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	border: 0;
	background-color: rgb(245,245,245);
}

.groupDataClose{
	min-width: calc(50% - 5px);
	min-height: 32px;
	line-height: 32px;
	margin-right: 0;
	margin-bottom: 10px;
	border: 0;
	background-color: rgb(245,245,245);
}


/* =====================================================
 * === 스케줄 추가 폼 ======================================
 * ===================================================== */
.calendarSchedule{
	position:relative;
	display:block;
 }
.scheduleForm{
	margin-top: 10px;
	border-radius: 5px;
	width: 57%;
	background-color: white;
	height: 308px;
	z-index: 500;
	background-color: rgba(255,255,255);
	position:absolute;
	letter-spacing: -0.6px;
	max-width: 484.5px;
	border: 1px solid lightgray;
}
.scheduleFormTitle{
	min-width: 279.5px;
	min-height: 30px;
	margin-top: 10px;
	margin-left: 80px;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
	padding-left: 5px;
}
.scheduleFormAllday{
	min-width: 86px;
	min-height: 32px;
	line-height: 32px;
	margin-left:15px;
	margin-right:15px;
	margin-top: 10px;
	text-align: center;
	display: block;
	float: left;
	border: 0;
	border-radius: 10px;
	background-color: rgb(235,235,235);
}
.scheduleFormGroups{
	min-width: 284.5px;
	min-height: 30px;
	margin-top: 52px;
}
.scheduleFormGroupsTitle{
	width: 80px;
	min-height: 32px;
	line-height: 32px;
	text-align: center;
	display: block;
	float: left;
}
.scheduleFormGroupSelect{
	min-width: 150px;
	min-height: 30px;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
}
.scheduleFormColor{
	min-width: 50px;
	min-height: 30px;
	margin-left:5px;
	display: block;
	float: left;
	border: 0;
}
.scheduleFormGroups:after{
	content: "";
	display: block;
	clear:both;
}
.scheduleFormDiv{
	width: 80px;
	min-height: 32px;
	line-height: 28px;
	margin-top: 10px;
	text-align: center;
	display: block;
	float: left;
}
.scheduleFormStart{
	min-width: 279.5px;
	min-height: 30px;
	margin-top: 10px;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
}
.scheduleFormStartTime{
	min-width: 86px;
	min-height: 32px;
	line-height: 32px;
	margin-left:15px;
	margin-right:15px;
	margin-top: 10px;
	text-align: center;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
}
.scheduleFormEnd{
	min-width: 279.5px;
	min-height: 30px;
	margin-top: 10px;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
}
.scheduleFormEndTime{
	min-width: 86px;
	min-height: 32px;
	line-height: 32px;
	margin-left:15px;
	margin-right:15px;
	margin-top: 10px;
	text-align: center;
	display: block;
	float: left;
	border: 0;
	background-color: rgb(245,245,245);
}
.scheduleFormContent{
	min-width: 279.5px;
	min-height: 115px;
	margin-top: 10px;
	margin-left: 80px;
	display: block;
	float: left;
	border: 0;
	resize: none;
	background-color: rgb(245,245,245);
	padding-left: 5px;
}
.scheduleFormSubmit{
	min-width: 86px;
	min-height: 32px;
	line-height: 32px;
	margin-left:15px;
	margin-right:15px;
	margin-top: 93px;
	text-align: center;
	display: block;
	float: left;
	border: 0;
	border-radius: 10px;
	background-color: rgb(235,235,235);
}
.scheduleFormStart{
	letter-spacing: -0.15px;
	padding-left: 5px;
}
.scheduleFormEnd{
	letter-spacing: -0.15px;
	padding-left: 5px;
}
/* =====================================================
 * === 월간캘린더 =========================================
 * ===================================================== */

.calendarDiv{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    padding-top: 10px;
}
.monthAreaHead{
	width: 100%;
	display:flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
.monthAreaHeadTitle{
    height: 31px;
    text-align: center;
    display: inline-block;
    line-height: 31px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    font-size: 12px;
    flex: 1 1;
   	flex-basis: calc(100%/7.08);
}
.monthAreaHeadTitle:nth-child(7n){
    border-right: 1px solid lightgray;
}
.monthAreaBody{
    width: 100%;
    min-width: 830px;
    display:flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
.monthBox{
    min-height: 120px;
    height: 10vw;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    font-size: 13px;
   	flex: 1 1;
   	flex-basis: calc(100%/7.08);
}
.monthBox:after{
	content: "";
	display: block;
	clear: both;
}
.monthBoxBody:after{
	content: "";
	display: block;
	clear: both;
}
.monthBox:nth-child(7n){
    border-right: 1px solid lightgray;
}
.monthBoxTitleBox{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.monthBoxTitleBox:hover{
    background-color: lightgrey;
}
.dateTag{
	display: none;
}
.monthBoxTitleBoxOne{
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.monthBoxTitleBoxOne:hover{
    background-color: lightgrey;
}


.yearLayoutBox{
    width: 30%;
    vertical-align: top;
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 3vw;
}
.yearLayoutBox:nth-child(3n){
    margin-right: 0;
}
.yearInMonthTitle{
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 0.5vw;
}

.yearAreaHead{
	width: 100%;
}
.yearAreaHeadTitle{
	width: calc(100%/7);
    height: 3vw;
    text-align: center;
    display: inline-block;
    line-height: 3vw;
    font-size: 10px;
    padding-bottom: 0.5vw;
}
.yearAreaBody{
    width: 100%;
}
.yearBox{
    width: calc(100%/7);
    height: 4vw;
    display: inline-block;
    text-align: center;
    font-size: 11px;
}
.yearBoxTitleBox{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.yearBoxTitleBox:hover{
    background-color: lightgrey;
}
.yearBoxTitleBoxOne{
    padding: 1px;
    text-align: center;
    border-radius: 50%;
}
.yearBoxTitleBoxOne:hover{
    background-color: lightgrey;
}

.yearBoxDummy{
    width: calc(100%/7);
    display: inline-block;
    text-align: center;
    font-size: 0;
}
.yearBoxTitleBoxDummy{
    font-size: 0;
}

.leftBox{
    flex: 2;
    height: 100%;
}

/*Schedule*/
.monthBoxBody{
	width: 100%;
	position: relative;
	z-index: 400;
}
.scheduleInfos{
	display:none;
}
.scheduleBox{
	width: 100%;
	height: 20px;
	text-align: left;
	position: absolute;
	z-index: 450;
	border-radius: 3px;
}
.cmpbzero{
	display: none;
}
.cmpb0{
	display: none;
}
.cmpb1{
	width: 95%;
}
.cmpb2{
	width: 195%;
}
.cmpb3{
	width: 295%;
}
.cmpb4{
	width: 396%;
}
.cmpb5{
	width: 497%;
}
.cmpb6{
	width: 598%;
}
.cmpb7{
	width: 699%;
}
.cmpb1:hover{
	filter: hue-rotate(20deg);
}
.cmpb2:hover{
	filter: hue-rotate(20deg);
}
.cmpb3:hover{
	filter: hue-rotate(20deg);
}
.cmpb4:hover{
	filter: hue-rotate(20deg);
}
.cmpb5:hover{
	filter: hue-rotate(20deg);
}
.cmpb6:hover{
	filter: hue-rotate(20deg);
}
.cmpb7:hover{
	filter: hue-rotate(20deg);
}
.scheduleTitleInSpan{
	height: 20px;
	width: 90%;
	text-overflow: ellipsis;
	display: block;
	color: black;
	float: left;
}
.scheduleBox:after{
	content: "";
	display: block;
	clear: both;
}
.smallColor{
	width: 10px;
}

.lineThrough{
	text-decoration-line: line-through;
}
.hiddenElement{
	display: none;
}
.scheduleGroupColor{
	width: 4px;
	height: 100%;
	display: block;
	float: left;
	margin-right: 5px;
	border-radius: 3px 0 3px 0;
}
.sDetail{
	position: relative; 
}
.groupDataTitle{
	display: flex;
}
.groupDataCheckBox{
	min-width: 35px;
	margin-right: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 35px;
	border-radius: 2px;
	background-color: #81c147;
}
.groupDataName{
	width: calc(100% - 74px);
}
.groupDataTool{
	min-width: 35px;
	margin-left: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(./imgSource/fix.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center;
	border-radius: 2px;
}
.groupDataMemberSearch{
	width: calc(100% - 10px);
	min-height: 25px;
	line-height: 25px;
	display: block;
	border: 0;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 10px;
	background-color: lightgrey;
}
.groupDataMemberAdd{
	border-radius: 5px;
	margin-top: 10px;
	width: 100%;
}

.memerListId{
	width:30%;
}
.memerListName{
	width:30%;
}
.memerListAddBtn{
	width:30%;
}

.groupDataMemberResult{
	position: relative;
}
.memerListBox{
	position: absolute;
	z-index: 500;
	background-color: white;
	width: 100%;
}




/*제민- 작업*/
.calendarArea{
    display: flex;
    flex-flow: row wrap;
    z-index: 100;
}
.dayTimeWrap{
    display: flex;
    flex-flow: column wrap;
}
.dayHeadSize{
    height: 80px;
}
.dayTimeBox{
    width: 100%;
    height: 48px;
}
.dayTime{
    position: relative;
    top: 15px;
}
.scheduleTimeBox{
    width: 100%;
    height: 40px;
}
.scheduleTime{
    position: relative;
    top: 15px;
}
.dayScheduleTime{
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.calendarArea{
	width: 100%;
}
.dayAreaBody{
	display: flex;
	flex-flow: row wrap;
}
.dayAreaHeadYoil{
    font-size: 11px;
    width: 46px;
    text-align: center;
    height: 32px;
    line-height: 32px;
}
.dayAreaHeadDate{
    font-size: 26px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
}
.dayBodyWrap{
    display: flex;
    flex-flow: row wrap;
}
.dayBodyWrap::before{
	content: '';
    border-bottom: 1px solid gray;
    position: absolute;
    width: 100%;
    margin-top: -1px;
}
.dayScheduleLeftLineWrap{
    display: flex;
    flex-flow: column wrap;
}
.dayScheduleLeftLine:first-child{
    height: 40px;
}
.dayScheduleWrap{
    display: flex;
    flex-flow: column wrap;
}
.alldaySchedule{
	height: 40px;
}
.alldaySchedule::after{
    content: '';
    border-bottom: 1px solid gray;
    position: absolute;
    width: 100%;
    margin-top: -1px;
}
.daySchedule{
    height: 48px;
}
.daySchedule::after{
    content: '';
    border-bottom: 1px solid gray;
    position: absolute;
    width: 100%;
    margin-top: -1px;
}
.dayScheduleLeftLine{
    width: 20px;
    height: 48px;
    border-right: 1px solid gray;
}
.dayScheduleCheck{
	height: 25%;
}
#calendar2{
    width: 100%;
    position: relative; 
	z-index: 1;
	margin-top: 20px;
}